global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['prometheus:9090']

  - job_name: 'node_exporter'
    honor_labels: true
    static_configs:
      - targets:
          - 'REPLACE_WITH_NODE_EXPORTER_IP:9100'
